.hero {
  background-color: var(--gray-300);
}

.hero-principal{
  background-color: var(--gray-300);
}

/* TÍTULO */
.hero-title {
  text-align: center;
  padding: 10px;

  h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--gray-900);

    span {
      display: block;
      margin-top: 12px;
      font-size: 22px;
      font-weight: 400;
      color: var(--gray-700);
    }
  }
}

/* CARRUSEL */
.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px 48px;
}

.carousel-window {
  width: 100%;
  max-width: 1300px;
  overflow: hidden;
  border-radius: 16px;
}

.carousel-track {
  display: flex;
  transition: transform 0.45s ease;
}

.carousel-item {
  min-width: 100%;
  height: 360px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* FLECHAS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  transition: background-color 0.5s;
  i {
    font-size: 32px;
    color: var(--gray-900);
  }

  &:hover {
    background-color: var(--color-primary);
  }
}

.arrow.left {
  left: 16px;
}

.arrow.right {
  right: 16px;
}

// titulo consigue ofertas más top
.hero-title-ofertas {
  text-align: center;
  padding: 1px;
  h1 {
    font-size: 25px;
    font-weight: 700;
    color: var(--gray-900);
  }
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-title h1 {
    font-size: 32px;

    span {
      font-size: 18px;
    }
  }

  .carousel-item {
    height: 240px;
  }

  .arrow {
    width: 40px;
    height: 40px;

    i {
      font-size: 28px;
    }
  }
}