:root {
  --color-primary: #1E88E5;
  --color-primary-dark: #1565C0;
  --color-primary-light: #BBDEFB;

  --color-gold: #d4af37;

  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-150: #f2f2f2; 
  --gray-200: #eeeeee;
  --gray-250: #e8e8e8; 
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
}