@use './styles/colors';
@use './styles/typography';
@use './styles/theme';

/* reset mínimo */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--gray-50);
}