spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/${MYSQL_DATABASE}?useSSL=false&allowPublicKeyRetrieval=true
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
      validation-timeout: 3000
      initialization-fail-timeout: -1
  jpa:
    hibernate:
      ddl-auto: update
  sql:
    init:
      platform: mysql